/* Centraliza o conteúdo na página */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f0f3f2, #060a17);
  font-family: Arial, sans-serif;
 }
form{
  display: flex;
  flex-direction: column;
  /* gap: 0px;  */
}
/* Estilo do botão */
#btn {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: #4CAF50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
 /* align-self: center;}*/

/* Efeito hover */
}
#btn:hover {
  background: #45a049;
  transform: scale(1.05);
}

/* Área de resultado */
#resultado {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  background: rgba(255,255,255,0.8);
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
